@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.skinfight-event-datetime-text-field > input.rt-TextFieldInput {
  display: block !important;
}

.skinfight-skin-png-image {
  image-rendering: pixelated;
}
